{% extends 'base.html.twig' %}

{% block title %}Ajouter un Événement{% endblock %}


{% block body %}
    <h1>Ajouter un événement</h1>

    {{ form_start(form) }}
        {{ form_row(form.titre) }}
        {{ form_row(form.description) }}
        {{ form_row(form.start) }}
        {{ form_row(form.end) }}
        {{ form_row(form.discipline) }}
        <button class="btn btn-primary">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_evenement_index') }}">Retour à la liste</a>
{% endblock %}
